{% extends 'layouts/base-presentation.html' %}

{% load crispy_forms_filters %}

{% block content %}
<div class="card p-4 mx-auto mt-7" style="max-width: 400px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Login</h2>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Invalid credentials. Please try again.
      </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid gap-2">
        <input class="btn btn-primary mt-3" type="submit" value="Login">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
{% endblock %}